In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [4]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [7]:
df[df['tenure'] == 0]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [8]:
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors="coerce")
df.loc[df["tenure"] == 0, "TotalCharges"] = 0

In [9]:
df.groupby('StreamingMovies').size()

StreamingMovies
No                     2785
No internet service    1526
Yes                    2732
dtype: int64

In [10]:
df.groupby('StreamingTV').size()

StreamingTV
No                     2810
No internet service    1526
Yes                    2707
dtype: int64

In [11]:
df.groupby('TechSupport').size()

TechSupport
No                     3473
No internet service    1526
Yes                    2044
dtype: int64

In [12]:
df.groupby('DeviceProtection').size()

DeviceProtection
No                     3095
No internet service    1526
Yes                    2422
dtype: int64

In [13]:
df.groupby('OnlineSecurity').size()

OnlineSecurity
No                     3498
No internet service    1526
Yes                    2019
dtype: int64

In [14]:
df.groupby('OnlineBackup').size()

OnlineBackup
No                     3088
No internet service    1526
Yes                    2429
dtype: int64

In [15]:
df['HasInternet'] = df['OnlineBackup'].isin(['No internet service'])

In [16]:
df.groupby('MultipleLines').size()

MultipleLines
No                  3390
No phone service     682
Yes                 2971
dtype: int64

In [17]:
df.groupby('Contract').size()

Contract
Month-to-month    3875
One year          1473
Two year          1695
dtype: int64

In [18]:
df.groupby('PaymentMethod').size()

PaymentMethod
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Electronic check             2365
Mailed check                 1612
dtype: int64

In [19]:
yes_no_vars = ['Partner','Dependents','PhoneService','PaperlessBilling','Churn']

In [20]:
for yn in yes_no_vars:
    df[yn] = df[yn].map({'Yes' : 1, 'No' : 0})

df['gender'] = df['gender'].map({'Male' : 1, 'Female' : 0})
df['MultipleLines'] = df['MultipleLines'].map({'No phone service' : 0, 'No' : 1, 'Yes' : 2})
df['Contract'] = df['Contract'].map({'Month-to-month' : 0, 'One year' : 1, 'Two year' : 2})

In [21]:
internet_vars = ['StreamingMovies','StreamingTV','TechSupport','DeviceProtection','OnlineSecurity','OnlineBackup']

In [22]:
for i in internet_vars:
    df[i] = df[i].map({'No internet service' : 0, 'No' : 0, 'Yes' : 1})

In [23]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,HasInternet
0,7590-VHVEG,0,0,1,0,1,0,0,DSL,0,1,0,0,0,0,0,1,Electronic check,29.85,29.85,0,False
1,5575-GNVDE,1,0,0,0,34,1,1,DSL,1,0,1,0,0,0,1,0,Mailed check,56.95,1889.50,0,False
2,3668-QPYBK,1,0,0,0,2,1,1,DSL,1,1,0,0,0,0,0,1,Mailed check,53.85,108.15,1,False
3,7795-CFOCW,1,0,0,0,45,0,0,DSL,1,0,1,1,0,0,1,0,Bank transfer (automatic),42.30,1840.75,0,False
4,9237-HQITU,0,0,0,0,2,1,1,Fiber optic,0,0,0,0,0,0,0,1,Electronic check,70.70,151.65,1,False

In [24]:
df['automatic_pay'] = df['PaymentMethod'].isin(['Bank transfer (automatic)','Credit card (automatic)'])

In [25]:
df = pd.get_dummies(df, columns=['InternetService','PaymentMethod'], prefix='', prefix_sep='')

In [26]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,HasInternet,automatic_pay,DSL,Fiber optic,No,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,7590-VHVEG,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,29.85,29.85,0,False,False,True,False,False,False,False,True,False
1,5575-GNVDE,1,0,0,0,34,1,1,1,0,1,0,0,0,1,0,56.95,1889.50,0,False,False,True,False,False,False,False,False,True
2,3668-QPYBK,1,0,0,0,2,1,1,1,1,0,0,0,0,0,1,53.85,108.15,1,False,False,True,False,False,False,False,False,True
3,7795-CFOCW,1,0,0,0,45,0,0,1,0,1,1,0,0,1,0,42.30,1840.75,0,False,True,True,False,False,True,False,False,False
4,9237-HQITU,0,0,0,0,2,1,1,0,0,0,0,0,0,0,1,70.70,151.65,1,False,False,False,True,False,False,False,True,False

In [27]:
df.drop(['No','Mailed check'], axis=1,inplace=True)

In [28]:
true_false_vars = ['DSL','Fiber optic','Bank transfer (automatic)','Credit card (automatic)','Electronic check',
                   'automatic_pay','HasInternet']
for tf in true_false_vars:
    df[tf] = df[tf].map({True : 1, False : 0})

In [29]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,HasInternet,automatic_pay,DSL,Fiber optic,Bank transfer (automatic),Credit card (automatic),Electronic check
0,7590-VHVEG,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,29.85,29.85,0,0,0,1,0,0,0,1
1,5575-GNVDE,1,0,0,0,34,1,1,1,0,1,0,0,0,1,0,56.95,1889.50,0,0,0,1,0,0,0,0
2,3668-QPYBK,1,0,0,0,2,1,1,1,1,0,0,0,0,0,1,53.85,108.15,1,0,0,1,0,0,0,0
3,7795-CFOCW,1,0,0,0,45,0,0,1,0,1,1,0,0,1,0,42.30,1840.75,0,0,1,1,0,1,0,0
4,9237-HQITU,0,0,0,0,2,1,1,0,0,0,0,0,0,0,1,70.70,151.65,1,0,0,0,1,0,0,1

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   gender                     7043 non-null   int64
 2   SeniorCitizen              7043 non-null   int64
 3   Partner                    7043 non-null   int64
 4   Dependents                 7043 non-null   int64
 5   tenure                     7043 non-null   int64
 6   PhoneService               7043 non-null   int64
 7   MultipleLines              7043 non-null   int64
 8   OnlineSecurity             7043 non-null   int64
 9   OnlineBackup               7043 non-null   int64
 10  DeviceProtection           7043 non-null   int64
 11  TechSupport                7043 non-null   int64
 12  StreamingTV                7043 non-null   int64
 13  StreamingMovies            7043 non-null   int64
 14  Contract                   7043 non-null   int64
 15  PaperlessBilling           7043 non-null   int64
 16  MonthlyCharges             7043 non-null   float64
 17  TotalCharges               7043 non-null   float64
 18  Churn                      7043 non-null   int64
 19  HasInternet                7043 non-null   int64
 20  automatic_pay              7043 non-null   int64
 21  DSL                        7043 non-null   int64
 22  Fiber optic                7043 non-null   int64
 23  Bank transfer (automatic)  7043 non-null   int64
 24  Credit card (automatic)    7043 non-null   int64
 25  Electronic check           7043 non-null   int64
dtypes: float64(2), int64(23), object(1)
memory usage: 1.4+ MB

In [31]:
df.isna().sum().sum()

np.int64(0)

In [32]:
to_scale = ['tenure','MonthlyCharges','TotalCharges']

In [33]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df[to_scale] = scaler.fit_transform(df[to_scale])

In [34]:
df.drop('customerID', axis=1, inplace=True)

In [35]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,HasInternet,automatic_pay,DSL,Fiber optic,Bank transfer (automatic),Credit card (automatic),Electronic check
0,0,0,1,0,0.013889,0,0,0,1,0,0,0,0,0,1,0.115423,0.003437,0,0,0,1,0,0,0,1
1,1,0,0,0,0.472222,1,1,1,0,1,0,0,0,1,0,0.385075,0.217564,0,0,0,1,0,0,0,0
2,1,0,0,0,0.027778,1,1,1,1,0,0,0,0,0,1,0.354229,0.012453,1,0,0,1,0,0,0,0
3,1,0,0,0,0.625000,0,0,1,0,1,1,0,0,1,0,0.239303,0.211951,0,0,1,1,0,1,0,0
4,0,0,0,0,0.027778,1,1,0,0,0,0,0,0,0,1,0.521891,0.017462,1,0,0,0,1,0,0,1

In [36]:
df.dtypes

gender                         int64
SeniorCitizen                  int64
Partner                        int64
Dependents                     int64
tenure                       float64
PhoneService                   int64
MultipleLines                  int64
OnlineSecurity                 int64
OnlineBackup                   int64
DeviceProtection               int64
TechSupport                    int64
StreamingTV                    int64
StreamingMovies                int64
Contract                       int64
PaperlessBilling               int64
MonthlyCharges               float64
TotalCharges                 float64
Churn                          int64
HasInternet                    int64
automatic_pay                  int64
DSL                            int64
Fiber optic                    int64
Bank transfer (automatic)      int64
Credit card (automatic)        int64
Electronic check               int64
dtype: object

In [37]:
from sklearn.model_selection import train_test_split

X = df.drop('Churn',axis=1)
Y = df['Churn']

In [38]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42, stratify=Y)

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

model = LogisticRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

print(accuracy_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

0.8005677785663591
              precision    recall  f1-score   support

           0       0.85      0.89      0.87      1035
           1       0.64      0.55      0.60       374

    accuracy                           0.80      1409
   macro avg       0.75      0.72      0.73      1409
weighted avg       0.79      0.80      0.80      1409

[[921 114]
 [167 207]]

In [40]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(class_weight='balanced', random_state=42)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

print(accuracy_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

0.7899219304471257
              precision    recall  f1-score   support

           0       0.83      0.90      0.86      1035
           1       0.64      0.49      0.55       374

    accuracy                           0.79      1409
   macro avg       0.73      0.69      0.71      1409
weighted avg       0.78      0.79      0.78      1409

[[931 104]
 [192 182]]

In [41]:
from xgboost import XGBClassifier

imbalance_ratio = (len(y_train) - sum(y_train)) / sum(y_train)

model = XGBClassifier(
    scale_pos_weight=imbalance_ratio,
    use_label_encoder=False,
    eval_metric="logloss",
    random_state=42
)

model.fit(x_train, y_train)

y_pred = model.predict(x_test)

print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

0.7572746628814763
              precision    recall  f1-score   support

           0       0.87      0.79      0.83      1035
           1       0.53      0.67      0.59       374

    accuracy                           0.76      1409
   macro avg       0.70      0.73      0.71      1409
weighted avg       0.78      0.76      0.77      1409

[[817 218]
 [124 250]]

c:\Users\omen3\Bureau\Projects\Telco-churn-prediction\venv\Lib\site-packages\xgboost\training.py:183: UserWarning: [23:13:26] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

In [42]:
from sklearn.metrics import roc_auc_score
print("ROC-AUC:", roc_auc_score(y_test, model.predict_proba(x_test)[:,1]))

ROC-AUC: 0.819879097884213

In [43]:
from sklearn.svm import SVC

model.svm = SVC(kernel='linear') 
model.svm.fit(x_train,y_train)
preds = model.svm.predict(x_test)
accuracy_score(y_test, preds)

0.7934705464868701